@import"fonts";
//colors
$theme-main:#1b242f;
$theme-secondary:#04c2c9;
$text-highlight:#e31b6d;
$likedin-color:#0077b5;
$github-color:#fff;
//fonts
$main-font:'Raleway', sans-serif;

//media qeries
$tablet:min-width:760px;
$desktop:min-width:1024px;
